@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 8% 15%;
    --foreground: 0 0% 98%;
    --card: 210 8% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 210 8% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 278 69% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 8% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 8% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 194 73% 59%;
    --accent-foreground: 210 8% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 8% 25%;
    --input: 210 8% 25%;
    --ring: 194 73% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 8% 15%;
    --foreground: 0 0% 98%;
    --card: 210 8% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 210 8% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 278 69% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 8% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 8% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 194 73% 59%;
    --accent-foreground: 210 8% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 8% 25%;
    --input: 210 8% 25%;
    --ring: 194 73% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
